<section class="header-hero section section--blue section--pattern-blue">
  <div class="header-hero__header">
    <div class="container header-hero__nav-inner section__inner">
      <a
        class="header-hero__logo-link"
        href="#hero"
        aria-label="Martin Barton home"
      >
        <img
          class="header-hero__logo"
          src="img/main_logo_barton.svg"
          alt="Martin Barton logo"
        />
      </a>

      <ul class="header-hero__list" aria-label="Main navigation">
        <li class="header-hero__item"><a href="#what-i-do">What I do</a></li>
        <li class="header-hero__item"><a href="#about-me">About Me</a></li>
        <li class="header-hero__item">
          <a href="#latest-projects">Projects</a>
        </li>
        <li class="header-hero__item"><a href="#pricing">Pricing</a></li>
        <li class="header-hero__item"><a href="#contacts">Contacts</a></li>
      </ul>

      <!-- <a class="button button--outline header-hero__cta" href="#modal-quote"
        >Request a quote</a
      > -->

      <a
        class="header-hero__burger"
        href="#menu"
        aria-label="Open menu"
        data-burger
        data-menu-open
      >
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
  </div>

  <div class="header-hero__hero">
    <img
      class="header-hero__bg"
      src="img/hero-photo.png"
      alt="Martin Barton photo"
    />

    <div class="header-hero__spacer"></div>
    <div class="container header-hero__inner section__inner">
      <p class="header-hero__label">INTRODUCTION</p>
      <h1 class="header-hero__title heading">
        <span class="header-hero__title-first">Martin</span>
        <span class="header-hero__title-last">Barton</span>
      </h1>
      <p class="header-hero__roles">
        <span class="header-hero__role-line-1">GRAPHIC AND MOTION</span>
        <span class="header-hero__role-line-2">DESIGNER</span>
        <span class="header-hero__role-line-3">// ILLUSTRATOR</span>
        <span class="header-hero__role-line-4">// PHOTOGRAPHER</span>
      </p>
      <p class="header-hero__text">
        I'm passionate about everything connected with visual art. And I'm
        always open for new opportunities.
      </p>
    </div>
  </div>

  <aside id="menu" class="menu-overlay" data-menu>
    <div class="menu-overlay__panel">
      <a
        class="menu-overlay__close"
        href="#"
        aria-label="Close menu"
        data-menu-close
      >
        ✕
      </a>

      <a class="menu-overlay__logo-link" href="#hero">
        <img
          class="menu-overlay__logo"
          src="img/main_logo_barton.svg"
          alt="Martin Barton logo"
        />
      </a>

      <ul class="menu-overlay__list">
        <li><a href="#what-i-do">What I do</a></li>
        <li><a href="#about-me">About Me</a></li>
        <li><a href="#latest-projects">Projects</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#contacts">Contacts</a></li>
      </ul>

      <a class="button button--outline button--wide" href="#modal-quote"
        >Request a quote</a
      >
    </div>
  </aside>
</section>
