<footer class="footer section section--dark section--pattern-dark">
  <div class="section--pattern-before">
    <img src="img/pattern-dark.webp" alt="" />
  </div>
  <div class="section--pattern-after">
    <img src="img/pattern-dark.webp" alt="" />
  </div>

  <div class="footer__contacts-bar">
    <div class="container footer__contacts-inner section__inner">
      <article class="footer__contact-item">
        <h3 class="heading">Phone Number</h3>
        <a href="tel:+12345678900">+1 (234) 567 89 00</a>
      </article>
      <article class="footer__contact-item">
        <h3 class="heading">Instagram</h3>
        <a href="#">instagram.com/m.barton</a>
      </article>
      <article class="footer__contact-item">
        <h3 class="heading">E-Mail</h3>
        <a href="mailto:m.barton@email.com">m.barton@email.com</a>
      </article>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container footer__bottom-inner section__inner">
      <img
        class="footer__logo"
        src="img/main_logo_barton.svg"
        alt="Martin Barton logo"
      />
      <p class="footer__about">
        I'm, Martin Barton, illustrator, photographer, graphic and motion
        designer based mostly in New York. If you have a project to discuss,
        contact me in any convenient way.
      </p>

      <ul class="footer__nav">
        <li><a href="#what-i-do">What I do</a></li>
        <li><a href="#about-me">About me</a></li>
        <li><a href="#latest-projects">Projects</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#contacts">Contact me</a></li>
      </ul>

      <div class="footer__socials">
        <a href="#" aria-label="Facebook">Fb</a>
        <a href="#" aria-label="Instagram">Ig</a>
        <a href="#" aria-label="YouTube">Yt</a>
      </div>

      <p class="footer__copyright">
        © Created by Martin Barton. All rights reserved.
      </p>
    </div>
  </div>
</footer>
