<section
  id="testimonials"
  class="section section--blue section--pattern-blue testimonials"
>
  <div class="container testimonials__inner section__inner">
    <h2 class="testimonials__title heading">Testimonials</h2>
    <p class="testimonials__subtitle">
      I'm always happy to receive positive feedback from my great clients. Here
      is a couple of the latest testimonials.
    </p>

    <div class="testimonials__grid">
      <article class="testimonials-card">
        <img
          class="testimonials-card__avatar"
          src="img/dean_photo.webp"
          alt="Dean Peterson"
        />
        <h3 class="testimonials-card__name heading">Dean Peterson</h3>
        <blockquote class="testimonials-card__quote">
          “I was happy to work with Martin! We were on the same page with him.
          Martin immediately understood the assignment, asked a few clarifying
          questions, and after 3 days, he sent me a few sketches that were
          really great!”
        </blockquote>
        <time class="testimonials-card__date" datetime="2024-10-28"
          >October 28, 2024</time
        >
      </article>

      <article class="testimonials-card">
        <img
          class="testimonials-card__avatar"
          src="img/tim_photo.webp"
          alt="Tim Adams"
        />
        <h3 class="testimonials-card__name heading">Tim Adams</h3>
        <blockquote class="testimonials-card__quote">
          “If I ever need an illustrator again, I will definitely write Martin.
          He is an excellent specialist who is passionate about his work. At the
          right moments, he is really very pedantic and always delivers very
          high-quality work.”
        </blockquote>
        <time class="testimonials-card__date" datetime="2024-03-02"
          >March 02, 2024</time
        >
      </article>

      <article class="testimonials-card">
        <img
          class="testimonials-card__avatar"
          src="img/jane_photo.webp"
          alt="Jane Welsh"
        />
        <h3 class="testimonials-card__name heading">Jane Welsh</h3>
        <blockquote class="testimonials-card__quote">
          “I have known Martin for a long time and I am glad to see him grow as
          a specialist. I work in a publishing house, and we often order
          Martin's illustrations for books by our authors. They are always very
          bright and attractive.”
        </blockquote>
        <time class="testimonials-card__date" datetime="2024-09-13"
          >September 13, 2024</time
        >
      </article>
    </div>
  </div>
</section>
