<section
  id="pricing"
  class="section section--blue section--pattern-blue pricing"
>
  <div class="container pricing__inner section__inner">
    <div class="pricing__content">
      <h2 class="pricing__title heading">Pricing</h2>
      <p>
        Here is a list of my fixed-price plans. We can also discuss custom
        options.
      </p>
      <p>
        I know that design and illustration are a lot of a matter of taste. So
        you need to know me better, first. For my part, I can offer you:
      </p>

      <ul class="pricing__benefits">
        <li>Free online consultation;</li>
        <li>Sketches before the final version;</li>
        <li>Up to 3 iterations of edits for free.</li>
      </ul>
    </div>

    <div class="pricing__plans">
      <article class="pricing-card">
        <img
          class="pricing-card__icon"
          src="img/icon-pricing-part-time.svg"
          alt="Part-time icon"
        />
        <h3 class="pricing-card__title heading">Part-time</h3>
        <p class="pricing-card__price">$50<span>/ per hour</span></p>
        <ul class="pricing-card__list">
          <li>Can be a part of your remote team.</li>
          <li>Transfer all the materials to you.</li>
          <li>In touch during business hours.</li>
        </ul>
        <a class="button button--white" href="#modal-contact">Contact Me</a>
      </article>

      <article class="pricing-card">
        <img
          class="pricing-card__icon"
          src="img/icon-pricing-full-time.svg"
          alt="Full-time icon"
        />
        <h3 class="pricing-card__title heading">Fulltime</h3>
        <p class="pricing-card__price">$1000<span>/ per project</span></p>
        <ul class="pricing-card__list">
          <li>We conclude a contract.</li>
          <li>I respect your deadlines.</li>
          <li>You get all the materials.</li>
        </ul>
        <a class="button button--white" href="#modal-contact">Contact Me</a>
      </article>
    </div>
  </div>
</section>
