<section
  id="what-i-do"
  class="section section--yellow section--pattern-yellow what-i-do"
>
  <img
    class="what-i-do__bg"
    src="img/pattern_yellow.png"
    alt=""
    aria-hidden="true"
  />

  <div class="container what-i-do__inner section__inner">
    <h2 class="what-i-do__title heading">What I Do</h2>
    <p class="what-i-do__intro">
      I work in the illustration niche, as well as graphic and motion design,
      photography, and combine them with other visual arts. I work with
      commercial and social projects of any scale and bring every work to the
      highest level of perfection.
    </p>

    <div class="what-i-do__grid">
      <article class="what-i-do-card">
        <img
          class="what-i-do-card__icon"
          src="img/icon_illustration.png"
          alt="Illustration icon"
        />
        <h3 class="what-i-do-card__title heading">Illustration</h3>
        <p class="what-i-do-card__text">
          I draw illustrations for books, outdoor advertisements, online
          banners, and other objects.
        </p>
      </article>

      <article class="what-i-do-card">
        <img
          class="what-i-do-card__icon"
          src="img/icon_gruphic.png"
          alt="Graphic design icon"
        />
        <h3 class="what-i-do-card__title heading">Graphic Design</h3>
        <p class="what-i-do-card__text">
          From websites to social media profiles design, you can always count on
          my services.
        </p>
      </article>

      <article class="what-i-do-card">
        <img
          class="what-i-do-card__icon"
          src="img/icon_motion.png"
          alt="Motion design icon"
        />
        <h3 class="what-i-do-card__title heading">Motion Design</h3>
        <p class="what-i-do-card__text">
          Motion design is a relatively new but very promising niche. Let's add
          a fresh twist to your visuals!
        </p>
      </article>
    </div>
  </div>
</section>
