<section
  id="clients"
  class="section section--yellow section--pattern-yellow clients"
>
  <img
    src="img/pattern_orange-yellow.png"
    alt=""
    class="clients__pattern"
    aria-hidden="true"
  />
  <div class="container clients__inner section__inner">
    <h2 class="clients__title heading">Clients</h2>
    <p class="clients__subtitle">
      I have been fortunate enough to work with 150+ amazing brands to date. You
      will be in good company.
    </p>

    <div class="carousel-clients" aria-label="Clients list">
      <button
        class="carousel-clients__control carousel-clients__control--prev"
        type="button"
        aria-label="Previous clients"
        data-carousel-prev="clients"
      >
        ‹
      </button>

      <div class="carousel-clients__track">
        <article class="carousel-clients__item">
          <img src="img/jira_logo.webp" alt="XJIRA" />
        </article>
        <article class="carousel-clients__item">
          <img src="img/adidas_logo.webp" alt="Adidas" />
        </article>
        <article class="carousel-clients__item">
          <img src="img/roku_logo.webp" alt="Roku" />
        </article>
        <article class="carousel-clients__item">
          <img src="img/puma_logo.webp" alt="Puma" />
        </article>
      </div>

      <button
        class="carousel-clients__control carousel-clients__control--next"
        type="button"
        aria-label="Next clients"
        data-carousel-next="clients"
      >
        ›
      </button>
    </div>
  </div>
</section>
