<section id="hero" class="section section--blue section--pattern-blue hero">
  <img class="hero__bg" src="img/hero-photo.png" alt="Hero background" />

  <div class="container hero__inner section__inner">
    <p class="hero__label">INTRODUCTION</p>
    <h1 class="hero__title heading">Martin Barton</h1>
    <p class="hero__roles">
      GRAPHIC AND MOTION DESIGNER // ILLUSTRATOR // PHOTOGRAPHER
    </p>
    <p class="hero__text">
      I'm passionate about everything connected with visual art. And I'm always
      open for new opportunities.
    </p>
  </div>
</section>
