<section
  id="about-me"
  class="section section--yellow section--pattern-yellow about-me"
>
  <div class="container about-me__inner section__inner">
    <figure class="about-me__photo-wrap">
      <img
        class="about-me__photo"
        src="img/about_me_photo.webp"
        alt="Martin Barton photo"
      />
    </figure>

    <div class="about-me__content">
      <h2 class="about-me__title heading">About Me</h2>
      <p>
        Hello, world, I'm Martin Barton, illustrator, photographer, graphic and
        motion designer based mostly in New York.
      </p>
      <p>
        Since childhood, I have been good at drawing and have taken a great
        interest in design. I like to think of design as a way to show users the
        hidden benefits of a product. My goal is to bring complicated tasks to
        simple meanings.
      </p>
      <p>
        I work in Figma, Photoshop, Adobe Illustrator, and many other programs
        that help me create banners, graphic and web designs, illustrations for
        books, print advertising materials, and so on.
      </p>

      <div class="about-me__socials">
        <span class="about-me__follow heading">Follow me:</span>
        <a href="#" aria-label="Facebook">Fb</a>
        <a href="#" aria-label="Instagram">Ig</a>
        <a href="#" aria-label="YouTube">Yt</a>
      </div>
    </div>
  </div>
</section>
