<section
  id="work-with-me"
  class="section section--orange section--pattern-orange work-with-me"
>
  <img src="img/pattern_blue-orange.png" alt="" class="work-with-me__pattern" />
  <div class="container work-with-me__inner section__inner">
    <h2 class="work-with-me__title heading">Want to Work With Me?</h2>
    <p class="work-with-me__text">
      If you have a project to discuss, you can contact me in any convenient
      way. Write or call me, and we'll create something great together.
    </p>

    <div class="work-with-me__actions">
      <a class="button button--dark" href="#modal-contact">Contact Me</a>
      <a class="button button--ghost-dark" href="#pricing">Pricing</a>
    </div>
  </div>
</section>
