<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Martin Barton | Graphic Designer</title>
    <meta
      name="description"
      content="Portfolio website of graphic and motion designer Martin Barton."
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Sedgwick+Ave&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="js/burger-menu.js"></script>
    <script src="js/lightbox-projects.js"></script>
    <script src="js/carousel-clients.js"></script>
    <script src="js/gallery-carousel.js"></script>
  </head>
  <body id="close">
    <main class="main">
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/global.header-nav.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/index.what-i-do.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/index.about-me.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/index.latest-projects.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/index.testimonials.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/index.work-with-me.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/index.clients.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/index.gallery.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/index.pricing.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/index.contacts.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/global.modals.partial.html"
      ></section>
    </main>

    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="partials/global.footer.partial.html"
    ></footer>
  </body>
</html>
